<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="com.stagevids.TestNG by packages">
    <test verbose="2" name="com.stagevids.webdriver">
        <packages>
            <package name="com.stagevids.webdriver"/>
        </packages>
    </test>
</suite>